################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CsvConverter/obj/Debug
/CsvConverter/bin/Debug
